<h1> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h1>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>/100 HP

<form action="/attack" method="post" class="button_to">
  <input type="submit" value="Attack!">
</form>

<% if @attacked %>
<%= @game.player_1.name %> has attacked <%= @game.player_2.name %>!
<% end %>
